*{
    padding: 0;
    margin: 0;
    list-style: none !important;
    text-decoration: none !important;

}
 .SN{
    margin-top: -1rem !important;
    font-size: 10px;
 }
.form-control{
    width: 30rem !important;
    border-radius: 40px 0 0 40px !important;

}
.ic li a i{
    color: black !important;
 } 
.sear{
    border-radius: 0px 40px 40px 0px !important;

}
.badge{
    background: silver;
}
.badge:hover{
    background: rgb(120, 117, 117);
}

 .sidebar li a{
     color: black !important;
 }
 .sidebar strong {
    color: black !important;
 }
